/*
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    height: 100vh;
}

h1{
    color: hsl(179, 62%, 43%);
    letter-spacing: -1px;
}


.container{
    width: 80%;
    margin: 3rem auto;
}

.main_container{
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1440px;
}

.title_02{
    color: hsl(71, 73%, 54%);
}
.title_description{
    color: hsl(218, 22%, 67%);
}


.subscription_container{
    background: hsl(179, 62%, 43%);
    color: hsl(0, 0%, 90%);
    padding: 0.5rem 0rem;
}
.why_us_container{
    background: hsl(179, 47%, 52%);
    color: hsl(0, 0%, 90%);
    padding: 0.5rem 0rem;
}

.full_access_text{
    margin-top: 0;
}


.section_sub_heading{
    color: #fff;
}



.price_per_month{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
}
.price{
    font-size: 2rem;
    line-height: 0;
}
.per_month{
    font-size: 1rem;
    color: #53CBCB;
    margin-left: 1rem;
}

.signup_btn_container{
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    border-radius: 5px;
    box-shadow: 0px 5px 30px hsl(179, 61%, 37%);
}
.signup_btn{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.why_us_container p{
    margin-top: 0.2rem;
    margin-bottom: 0px;
}

@media screen and (min-width: 768px){
    
    .section2{
        display: flex;
    }
    .subscription_container, .why_us_container{
        width: 50%;
    }

}
*/   

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    background-color: rgb(240, 242, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.2rem;
    line-height: 1;
}

a{
    text-decoration: none;
    color: #fff;
}


.main_container{
    margin: 3rem 0rem;
    background: #fff;
    border-radius: 5px;
    width: 85%;
    box-shadow: -5px 10px 40px rgb(187, 191, 218);
}


.intro_section, .container{
   width: 85%;
   margin: 0 auto;
   padding: 2rem 0rem;
}
.title_01{
    color: hsl(179, 62%, 43%);
    letter-spacing: -1px;
}
.title_02{
    color: hsl(71, 73%, 54%);
}
.title_description{
    color: hsl(218, 22%, 67%);
    margin: 0.5rem 0rem;
}



.subscription_container{
    background: hsl(179, 62%, 43%);
    color: #CFFFFF;
    border-bottom-left-radius: 5px;
}
.subscription_container h2{
    margin-bottom: 0.5rem;
}
.section_sub_heading{
    margin-top: 0;
}
.price_per_month{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
}
.price{
    font-size: 2.5rem;
    line-height: 0;
    color: #e0ffff;
}
.per_month{
    font-size: 1rem;
    color: #53CBCB;
    margin-left: 1rem;
}
.full_access_text{
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 400;
}
.signup_btn_container{
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 1.15rem 0rem;
    border-radius: 5px;
    box-shadow: -5px 10px 25px hsl(179, 61%, 32%);
}
.signup_btn{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}


.why_us_container{
    background: hsl(179, 47%, 52%);
    color: #DAFFFF;
    border-bottom-right-radius: 5px;
}
.why_us_container p{
    margin-top: 0.2rem;
    margin-bottom: 0px;
    color: #cefdfd;
}


@media screen and (min-width: 768px){

  body{
    height: 100vh;
  }
    .main_container{
        background: #fff;
        border-radius: 5px;
        width: 80%;
        max-width: 850px;
    
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "intro intro"
            "section1 section2";
    }
    
    .intro_section{
        grid-area: intro;
        width: 85%;
        justify-self: center;
        align-self: center;
        padding: 2rem 0rem;
    }
    
    .subscription_container{
        background: hsl(179, 62%, 43%);
        grid-area: section1;
    }
    
    .why_us_container{
        background: hsl(179, 47%, 52%);
        grid-area: section2;
    }
    
    .container{
        width: 70%;
        margin: 0rem auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 0rem;
    }
}


